@page "/change-password"

<div class="w-100 d-flex justify-content-center mt-3">
    <div class="form-login w-50">
        <form class="text-center d-flex flex-column gap-4">
            <h2 class="" style="color: #130666;">Change Password</h2>

            <div class="form-floating">
                <input type="text" class="form-control username" placeholder="New Password" />
                <label for="floatingInput">New Password</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control username" placeholder="Confirm Password" />
                <label for="floatingInput">Confirm Password</label>
            </div>

            <div class="w-100 my-3">
                <button class="btn btn-lg btn-danger" type="submit" style="background-color: #FF735C; font-weight: 600;">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>

@code {

}
