@page "/enroll-staff"

<div class="w-100 d-flex justify-content-center">
    <div class="form-login w-50">
        <form class="text-center d-flex flex-column gap-4">
            <h2 class="" style="color: #130666;">Enroll Staff</h2>

            <div class="form-floating">
                <input type="text" class="form-control username" placeholder="Full Name" />
                <label for="floatingInput">Full Name</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control username" placeholder="Email" />
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input type="number" class="form-control username" placeholder="Phone" />
                <label for="floatingInput">Phone</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control " placeholder="Address" />
                <label for="floatingPassword">Address</label>
            </div>

            @*<div class="form-floating">
            <input type="date" class="form-control" placeholder="Address" />
            <label for="floatingPassword">Date of Birth</label>
            </div>*@

            <div class="form-floating">
                <input type="password" class="form-control password" placeholder="Password" />
                <label for="floatingPassword">Password</label>
            </div>

            <div>
                <button class="w-100 btn btn-lg btn-danger" type="submit" style="background-color: #FF735C; font-weight: 600;">
                    Enroll Staff
                </button>
            </div>
        </form>
    </div>
</div>

@code {

}